*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Poppons", sans-serif;
}

nav{
  height: 80px;
  display:flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
  background-color: aliceblue;
  justify-content: center;
  padding: 20px 36px;
}

.world{
  max-width: 50px;
  max-height: 50px;
}

nav > h1{
  margin-left: 10px;
  margin-top: 10px;
}

.card{
  width:700px;
  height:300px;
  display:flex;
  flex-direction: row;
  margin:auto;
  padding:20px;
  box-shadow: 0px 0px 7.4564px rgba(0,0,0,0.1);
}

.card-img{
  width: 30%;
  border-radius: 10px;
  margin-right: 20px;
}

.trip-info{
  width:400px;
  margin-top: 20px;
}

.trip-header{
  display: flex;
}

.location-pin{
  margin-right:5px;
  height:20px;
}

.location{
  font-weight: bold;
}

.google-maps{
  margin-left:10px;
}

.link{
  color: rgb(177, 176, 176);
  font-size: 13px;
}

.trip-info > h1{
  margin-top:7px;
  font-size:40px;
}

.trip-info > h4{
  margin-bottom:-5px;
}

.trip-info > p{
  font-weight:100;
}

span{
  font-weight:100;
}
